@font-face {
  font-family: "iconfont"; /* Project id 4900537 */
  src: url('iconfont.woff2?t=1749020334319') format('woff2'),
       url('iconfont.woff?t=1749020334319') format('woff'),
       url('iconfont.ttf?t=1749020334319') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuaxin:before {
  content: "\e650";
}

.icon-guanjun:before {
  content: "\e603";
}

.icon-add1:before {
  content: "\e67b";
}

.icon-tubiaozhizuomoban-:before {
  content: "\e60f";
}

