@import "@/styles/variable.scss";

.create-room-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-black;

  .nav-container {
    width: 100%;
    color: $color-gray;
    padding-left: 20px;
    height: 100px;
    line-height: 100px;

    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    // background-color: rgba(20, 20, 20, 0.8);

    display: flex;
    align-items: center;
    justify-content: space-between;

    .user-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;

      .user-avatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;

        cursor: pointer;
        transition: all 0.3s ease;
        color: rgba(255, 255, 255, 0.8);
        margin-left: 12px;

        .avatar {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }

      .name {
        color: $color-white;
        margin-left: 10px;
        font-size: 30px;
        font-weight: bold;
      }
    }
  }

  .room-info {
    width: 90%;
    margin: 20px 0 30px 0;
    padding: 20px 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;

    .room-name,
    .room-type,
    .limit-container {
      margin-bottom: 40px;
    }

    .label-text {
      font-size: 25px;
      margin: 10px 0;
      color: rgba(255, 255, 255, 0.7);
    }

    .input-primary {
      height: 88px;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 6px;

      padding: 0 16px;
      outline: none;
      transition: all 0.3s ease;
      --nutui-color-title: var(--color-white);
    }

    .limit-container {
   
      .input-number {
        width: 100%;
        height: 88px;
        line-height: 88px;

        background-color: rgba(255, 255, 255, 0.1);

  


        --nutui-inputnumber-input-width: calc(100% - 120px);
        --nutui-inputnumber-input-height: 88px;

    
        --nutui-inputnumber-input-font-size: 28px;
        --nutui-inputnumber-button-width: 60px;
        --nutui-inputnumber-button-height: 88px;
        --nutui-color-text: white;
        --nutui-inputnumber-input-background-color: rgba(255, 255, 255, 0.15);
        --nutui-inputnumber-button-background-color: rgba(255, 255, 255, 0.1);
      }
    }

    .room-type {
      .options-container {
        height: 88px;
        background-color: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 12px;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 25px;

        color: rgba(255, 255, 255, 0.6);

        .public,
        .private {
          flex-basis: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .selected {
          width: 100%;
          height: 100%;
          background-color: #8c52ff;
          color: white;
          font-weight: bold;
        }
      }
    }
  }
  .game-type {
    width: 90%;
    margin: 20px 0 30px 0;
    padding: 20px 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    color: var(--color-gray);

    .game-item {
      flex: 1;
      height: 200px;
      background-color: rgba(255, 255, 255, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 15px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;

      .name {
        font-size: 40px;
      }

      .desc {
        font-size: 20px;
      }
    }

    .game-type-selected {
      border: 1px solid $color-purple;
      color: var(--color-white);
      background-color: rgba($color-purple, 0.2);
    }
    .game-item + .game-item {
      margin-left: 20px;
    }
  }
}

