@import "@/styles/variable.scss";
@import "taro-ui/dist/style/components/nav-bar.scss";
@import "taro-ui/dist/style/components/input-number.scss";
@import 'taro-ui/dist/style/components/message.scss';

:root {
  --nutui-brand-color: green;
  --nutui-primary-color: green;
  --nutui-primary-color-end: green;
  --nutui-button-primary-background: green;
  --nutui-button-primary-border-color: green;
}

page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $color-black;
}

html,
body {
  width: 100%;
  height: 100%;

  background-color: #000;
}

.margin-top-20 {
  margin-top: 20rpx;
}

.width-80 {
  width: 80vw;
}

.input-default {
  height: 68px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  color: white;
  font-size: 25px;
  padding: 0 16px;
  outline: none;
  transition: all 0.3s ease;
}

// 修改taro-ui input-number的样式
.at-input-number {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1) !important;
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
  height: 68px;

  display: flex;

  .at-input-number__btn {
    flex-basis: 50px;
    color: #fff;
  }

  .at-input-number__input {
    flex: 1;
    color: #fff;
    display: flex;
    justify-content: center;
  }
}

.tip-wrapper {
  font-size: 16px;
  color: $color-gray;
}
