@import "@/styles/variable.scss";
@import "@/styles/theme.scss";

page {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  background: radial-gradient(
    circle,
    rgba(140, 82, 255, 0.2) 0%,
    rgba(140, 82, 255, 0) 70%
  );
}

html,
body {
  width: 100%;
  height: 100%;

  background-color: #000;
}

.margin-top-20 {
  margin-top: 20rpx;
}

.width-80 {
  width: 80vw !important;
}

.tip-wrapper {
  font-size: 16px;
  color: $color-gray;
}

.nut-tabbar-item {
  padding: 20px 0 2px !important;
}
.nut-tabbar-item .nut-tabbar-item-text {
  color: var(--color-white);
}

.global-loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  z-index: 9999;
  --nutui-loading-icon-size: 50px;
  --nutui-loading-icon-color: var(--color-purple);
}


